body {
background-color: white;
font-family: sans-serif;
}

.main{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 9em;
}

a {
  color:#416165;
}

.topnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  background-color:#D9DBF1;}

.topnav a {
  float: none;
  display: inline-block;
  color: #0B3948;
  text-align: center;
  padding: 1.2em 2em;
  text-decoration: none;
  font-size: 1.3em;
}

.topnav a:hover {
  background-color: #0B3948;
  color: white;
}

.topnav a.active {
  background-color: #ACB0BD;
  color: #0B3948;
}

.topnav a.icon {
  display: none;
}
@media screen and (max-width: 700px) {
.topnav {display:block;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1{
  text-align: center;
  color:#416165;
  font-size: 3.5em;
}

h2{
  font-size: 2.5em;
  color:#0B3948;
  margin-bottom: .4em;
}

h3{
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: .7em;
}
h4{
  margin-bottom: .3em;
}

#headshot{
  width: 17em;
  float:right;
  margin: 0 0 1em 1em;
}

footer{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  padding: .7em;
  background-color:#D9DBF1;
  color:#0B3948;
  font-size: .8em;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
.row {display:none;}
  }

.captions{
  font-size: .85em;
  margin-right: 1em;
}

div.gallery {
  margin: 3em;
  border: 1px solid #ccc;
  float: ;
  width: 100%%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
